[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "detzrcr"]
	path = detzrcr
	url = https://github.com/magnuskristoffersen/detzrcr
